
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --san-marino-50: #f3f7fb;
    --san-marino-100: #e3edf6;
    --san-marino-200: #cee1ef;
    --san-marino-300: #accde4;
    --submarino: #84b3d6;
    --san-marino-500: #6799ca;
    --joangordo: #5482bc;
    --kalamar: #496fab;
    --san-marino-800: #405c8d;
    --pulpo: #384d70;
    --san-marino-950: #253146;
}

body *{
    font-family: "Inter";
}
body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
/*HEADER */
header{
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    height: 3.5rem;
    border-bottom: 1px solid var(--san-marino-300);
}


.botones {
    background-color: var(--joangordo);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    align-self: center;  
}
.tema{
    margin-left: auto;
}
#toggle-theme-btn {
    background-color: transparent;
    color: var(--joangordo);
    padding: 0 !important;
    
}
#toggle-theme-btn i{
    font-size: 26px;
    margin-right: 8px;
}
.B-inicio {
    margin: 0px 8px;
    background-color: white;
    border: 1px solid var(--submarino);
    color: var(--submarino);

}
.B-registro {
    background-color: var(--submarino);
}
.titulo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.titulo h1{
    color: var(--joangordo);
    cursor: pointer;
    font-size: 1.5rem;
    margin: auto;
    font-weight: 500;
}
/*FIN DE HEADER*/
/* FOOTER */
footer{
}
.lineafooter {
    display: block;
    border-bottom: 1px solid var(--san-marino-300);
}
.footerM {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerM b{
    margin-left: 20px;
    margin-right: 20px;
}
.footerM p{
    margin-left: 20px;
    margin-right: 20px;
}
.footerM a{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Main*/
main {
    
}
main h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
}
#textoEj {
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
}
#Regstrate1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}


/* Media query para iPhone */
@media only screen and (max-width: 375px) {
    
}

/* Media query para iPad Pro */
@media only screen and (min-width: 1024px) {
    
}

/* Estilos para el tema oscuro */
.tema-oscuro {
    background-color: #282828;
    color: #ffffff;
}
