
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ojuju:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    --san-marino-50: #f3f7fb;
    --san-marino-100: #e3edf6;
    --san-marino-200: #cee1ef;
    --san-marino-300: #accde4;
    --submarino: #84b3d6;
    --san-marino-500: #6799ca;
    --joangordo: #5482bc;
    --kalamar: #496fab;
    --san-marino-800: #405c8d;
    --pulpo: #384d70;
    --san-marino-950: #253146;
}
*{
    padding: 0;
    margin: 0;
}
body *{
    font-family: "Inter";
    
}
body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

}
/*HEADER */
header{
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    height: 3.5rem;
    border-bottom: 1px solid var(--san-marino-300);
}

.botones {
    background-color: var(--joangordo);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    align-self: center;  
}
.tema{
    margin-left: auto;
}
#toggle-theme-btn {
    background-color: transparent;
    color: var(--joangordo);
    padding: 0 !important;
    
}
#toggle-theme-btn i{
    font-size: 26px;
    margin-right: 8px;
}
.B-inicio {
    margin: 0px 8px;
    background-color: white;
    border: 1px solid var(--submarino);
    color: var(--submarino);
}
.B-inicio:hover {
    margin: 0px 8px;
    background-color:var(--pulpo);
    border: 1px solid var(--submarino);
    color: white;

}
.B-registro {
    background-color: var(--submarino);
}
.B-registro:hover {
    background-color: var(--san-marino-200);
    color: var(--pulpo);
}
.B-info{
    background-color: var(--kalamar);
    padding: 15px 35px !important; 
    font-size: 1rem;
    border-radius: 25px;
}
.B-contacto{
    background-color: var(--joangordo);
    font-size: 1rem;
    width: 15%;
    border-radius: 5px;
    align-self: center;
    margin-top:30px;
}

.titulo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.titulo h1{
    color: var(--joangordo);
    cursor: pointer;
    font-size: 1.5rem;
    margin: auto;
    font-weight: 500;
}
/*FIN DE HEADER*/
/* FOOTER */
.lineafooter {
    display: block;
    border-bottom: 1px solid var(--san-marino-300);
}
.footerM {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerM b{
    margin-left: 20px;
    margin-right: 20px;
}
.footerM p{
    margin-left: 20px;
    margin-right: 20px;
}
.footerM a{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration:none;
    color: black;
}
/*Main*/
main{
    /*margin: 0px 150px;*/
}
main h2{
    color: var(--joangordo);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    margin: 0px;
}
main img{
    size: 25%;
    margin: auto;
}
/*Hero*/
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 75px);
}
.enfasis{
    color: var(--kalamar);
}
/*Galeria*/
.galeria{
    display: flex;
    flex-direction: column;
    height:100vh;
}
/*Slider css */
.slider{
    overflow:hidden;
    padding: 50px 100px 50px 100px;
    margin: 20px 100px 20px 100px;
}
.slider--inner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 500px;
    transition: all 0.5s ease-in;
    align-items: center;
}
.slider--inner img{
    aspect-ratio: 16 / 9;
    object-fit: cover;

}
img {
    width: 100%;
    padding-right: 80px;
    padding-left: 20px;
}
/*fin slider css*/
#textoEj {
    padding: 50px 100px 50px 100px;
    margin: 20px 100px 20px 100px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
}
#Regstrate1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
/*Formulario */
svg{
    padding-bottom: 0;
    margin-bottom: -1px;
}
.contacto{
    margin:0;
    display:flex;
    flex-direction: column;
    
}
.contacto div{
    background-color: var(--san-marino-800);
    text-align: center;
}
.contacto form{
    display: flex;
    justify-content:center;
    flex-direction:column;
    background-color: var(--san-marino-800);
    padding: 0 20% 0 20%;
}
.tituloContacto h2{
    padding-bottom: 55px;
    color: white
}
.tituloContacto p{
    padding-bottom: 55px;
    color: white;
    text-align: center;
    font-size:1.2rem;
}

form label{
    color: white;
    padding: 15px 10px 15px 0px;
    font-size: 1rem;
    
}
form input, form textarea{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--submarino);
}
form input:focus, form textarea:focus{
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: none !important; 
    background-color: var(--san-marino-200);
}
form input::placeholder, form textarea::placeholder{
    color: white;
}
form button{    
    padding: 15px 30px 15px 30px;
    margin-top: 8px;
    background-color:var(--submarino);
    border-radius: 2px;
    border: 1px white;
    color: white;
}
/* form button:hover{
    padding: 15px 30px 15px 30px;
    margin-top: 8px;
    background-color:var(--kalamar);
    border-radius: 2px;
    border: 1px white;
    color: white;
    cursor:pointer;
} */

/* Media query para iPhone */
@media only screen and (max-width: 375px) {
    
}

/* Media query para iPad Pro */
@media only screen and (min-width: 1024px) {
    
}

/* Estilos para el tema oscuro */
.tema-oscuro {
    background-color: #282828;
    color: #ffffff;
}
.tema-oscuro input{
    background-color: #282828;
    color: white;
    border: 0.5px solid #484848;
}
.tema-oscuro textarea{
    background-color: #282828;
    color: white;
    border: 0.5px solid #484848;
}
.tema-oscuro a{
    color: white;
}
.tema-oscuro .B-inicio{
    margin: 0px 8px;
    background-color: var(--pulpo);
    color: var(--submarino);
}
.tema-oscuro .B-registro{
    background-color: var(--san-marino-200);
    color: var(--pulpo);
}
.tema-oscuro .B-inicio:hover{
    margin: 0px 8px;
    background-color: white;
    color: var(--submarino);
}
.tema-oscuro .B-registro:hover{
    background-color: var(--submarino);
    color: var(--san-marino-200);
}